/* check ref. flexbox -  https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.box {
  background-color: blueviolet;
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  text-align: center;
  width: 50%;
}

header {
  background-color: yellow;
  text-align: left;
  padding-left: 20px;
}

.func {
  background-color: blue;
  color: aliceblue;
  text-align: center;
}

.cla {
  background-color: red;
}

.myComp {
  background-color: greenyellow;
  font-size: x-large;
  text-align: center;
}

footer {
  background-color: black;
  color: blanchedalmond;
  font-size: xx-small;
  padding-right: 20px;
  text-align: right;
}
