/* check ref. flexbox -  https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.box {
  background-color: blueviolet;
  color: black;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 22%;
}

.func {
  background-color: blue;
  color: aliceblue;
}

.name {
  background-color: yellow;
}

.cla {
  background-color: red;
}

.myComp {
  background-color: greenyellow;
  font-size:xx-large;
}
